@model List<KazanlakRun.Web.Areas.Admin.Models.DistanceEditDto>

@{
    ViewData["Title"] = "Edit Number of Registered Runners";
}

<h2>Edit Number of Registered Runners</h2>

<form asp-area="Admin"
      asp-controller="Distance"
      asp-action="EditAll"
      method="post">
   

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Distance</th>
                <th>Number of Registered Runners</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m[i].Id)
                        @Html.HiddenFor(m => m[i].Id)
                    </td>
                    <td>
                        <input type="text"
                               class="form-control"
                               value="@Model[i].Distans"
                               readonly />
                        @Html.HiddenFor(m => m[i].Distans)
                    </td>
                    <td>
                        @Html.EditorFor(
                                 m => m[i].RegRunners,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         type = "number",
                                         min = "1",
                                         max = "1000"
                                     }
                                 })
                        @Html.ValidationMessageFor(m => m[i].RegRunners, "", new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update All</button>
    <a asp-area="Admin"
       asp-controller="Home"
       asp-action="Index"
       class="btn btn-secondary ms-2">
        Cancel
    </a>
</form>
